*{margin: 0;padding: 0;}
 
body{
    background-color: #eee;
}

.icon{
    width: 25px;
}
.bg-lightt {
    background-color: rgb(239 247 255 / 70%);
    border-radius: 3px;
}
.last_section{
    background-color: rgba(140, 140, 223, 0.3);
}
.button{
    margin: 5px;
   float: right;
   margin-bottom: 15px;
}
.section_01{
     background-color: rgb(38, 32, 43);
}
.section_3{
    background-color: rgba(0,0,0,.03);
    border-radius: 15px;

}
.radius{
    border-radius: 15px;

}
.card-footer, .right{
    float: right;
}
.left {
    display: inline-block;
    margin-top: 30px;
}
.nav_icon {
    padding-left: 0px;
    margin-right: 0px;
    height: 40px;
    width: 140px;
}
.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 0;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
.card-footer {
    padding: .5rem 1rem;
    background-color: rgba(0,0,0,.03);
    border-top: 0px;
}
.four_no_section {
    background-color: rgb(75 58 89);
}
.back_to_top{
    font-weight: 800;
    
}
.back_to_top a{
    text-decoration: none;
}

.navlink a{
    font-weight: bold;
}
.p-5 {
    padding: 3rem!important;
}
.pl-5{
    padding: 3rem;
}
.padding_left{
    padding-right: 0!important;
}
.bg-lighttt {
    background-color: #edeff0!important;
    font-weight: bold;
    color: rgb(108 76 76);
}
.formal_shoes {
    font-weight: bolder;
    color: rgb(104 67 67);
}
.casual_shoes{
    font-weight: bolder;
    color: rgb(104 67 67);
}
.nike{
    font-weight: 600px;
}
.buy_button{
    font-weight: 800;
}
.form-label{
    font-weight: bold;
}
.bg-lighttt {
    background-color: #edeff0!important;
    font-weight: 200;
    color: rgb(108 76 76);
}